{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block includes %}<link rel="stylesheet" href="{% static 'css/account/login2.css' %}">{% endblock %}

{% block content %}

<form class="form-signin text-center" method="POST" action="{% url 'teams' %}">
    {% csrf_token %}
    <h1 class="h3 mt-4 mb-1 font-weight-normal">Sign in</h1>
    <p clas="mb-3">{% blocktrans %}No account? Please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control mt-4" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-green mb-3" type="submit">Sign in</button>

    <div class="form-footer">
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </div>
</form>

{% endblock %}

