{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    
    <form class="form-base form-password-change text-center" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <h1 class="h3 mt-4 mb-5">{% trans "Change Password" %}</h1>
        <!-- {% for field in form %}
            <p>field name is: {{ field.name }}</p>
            {{ field }}
            <br>
        {% endfor %} -->

        {{ form.oldpassword|add_class:"form-control mt-3 mb-5"|attr:"type:password"|attr:"name:oldpassword"|attr:"placeholder:Old password"|attr:"required"|attr:"autofocus" }}
        {{ form.password1|add_class:"form-control mt-3 mb-4"|attr:"type:password"|attr:"name:password1"|attr:"placeholder:New password"|attr:"required" }}
        {{ form.password2|add_class:"form-control mt-3 mb-4"|attr:"type:password"|attr:"name:password2"|attr:"placeholder:New password (again)"|attr:"required" }}
        
        <!-- {{ form.as_p }} -->
        <button class="btn btn-lg btn-primary btn-green mt-4 mb-5" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>

{% endblock %}