{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="form-message text-center p-4">
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
    {% else %}
        {% if form %}
            <form class="form-base text-center" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <h1 class="h3 my-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {{ form.password1|add_class:"form-control my-3"|attr:"type:password"|attr:"name:password1"|attr:"placeholder:New password"|attr:"required"|attr:"autofocus" }}
                {{ form.password2|add_class:"form-control my-3"|attr:"type:password"|attr:"name:password2"|attr:"placeholder:New password (again)"|attr:"required" }}

                <input class="btn btn-lg btn-primary btn-green mt-4 mb-5" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <div class="form-message text-center p-4">
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}