{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<form class="form-base form-signup text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <h1 class="h3 mt-4 mb-1">{% trans "Sign Up" %}</h1>
  <p class="mb-3">{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  
  {{ form.email|add_class:"form-control mt-4 mb-4"|attr:"name:email"|attr:"placeholder:Email address"|attr:"required"|attr:"autofocus" }}
  {{ form.password1|add_class:"form-control my-3"|attr:"type:password"|attr:"name:password1"|attr:"placeholder:New password"|attr:"required" }}
  {{ form.password2|add_class:"form-control mt-3 mb-4"|attr:"type:password"|attr:"name:password2"|attr:"placeholder:New password (again)"|attr:"required" }}
  
  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-lg btn-primary btn-green mt-2 mb-4" type="submit">{% trans "Sign Up" %}</button>
</form>

{% endblock %}