# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.aps
*.idb
*.ipch
*.lastbuildstate
*.log
*.manifest
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog

# csv data files
*.csv

# Documentation
*.docx