{% block includes %}
<!--
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap_4_1_3/css/bootstrap.min.css">
-->  
<link rel="stylesheet" type="text/css" href="/static/bootstrap_4_1_3/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}

<!-- script locations when working locally only -->
<!--
<script
  src="{{ STATIC_URL }}jquery_1_12_4/jquery-1.12.4.min.js"
  type="text/javascript">
</script>
<script
  src="{{ STATIC_URL }}bootstrap_4_1_3/js/bootstrap.min.js"
  type="text/javascript">
</script>
-->

<script
  src="/static/jquery_1_12_4/jquery-1.12.4.min.js"
  type="text/javascript">
</script>
<script
  src="/static/bootstrap_4_1_3/js/bootstrap.min.js"
  type="text/javascript">
</script>

{% endblock %}